<!DOCTYPE html>
<head>
<style>
h1,h2
{	color: #F52F57;
	font-size: 50px;
	font-family:'impact';
	float: center;
	width: 90%;
	height: 190%;
	padding: 30px;
}

</style>
{% extends "base.html" %}

{% block content %}
{% include 'navbar.html' %}
<h1>About Zhale and Zentaur designs</h1>

<h2>Hello,
I am a freelance web developer, based in Surrey. I am available to work on projects now. Please get in touch if you would like more info on collaborating and setting up your online business.</h2>




{% endblock %}