
{% extends "base.html" %}

{% block content %}
<h1>About</h1>

<h3>{{ title|center:"15" }}</h3>
<p>Just a template</p>

{{ my_html|safe }}

<p>
	{{ my_number }}
{{ my_list }}
</p>

<ul>
	<li>Item 1</li>

	<li>Item 2</li>
</ul>

<ul>
{% for Abc in my_list %}
	{% if abc  == 1342 %}
		<li>{{ forloop.counter }} - {{ abc|add:22 }}</li>
	{% elif abc == "Abc" %}
		<li>This is not the right answer</li>
	{% else %}
		<li>{{ forloop.counter }} - {{ abc }}</li>
	{% endif %}

	{% endfor %}
</ul>
</p>
{% endblock %}