<!DOCTYPE html>
<head>
<style>
body 

{
  background-color: #2E4057;
}

.header {
  background-color: #F52F57;
  text-align: center;
  padding: 40px;
}

h3,h4,p{
	color: #E6C20E;
	font-family:'impact';
	float: center;
	width: 80%;
	height: 190%;
	padding: 20px;
}
h1,h2 {
	color: #F52F57;
	font-family:'impact';
	font-size: 40px;
	float: center;
	width: 90%;
	height: 190%;
	padding: 20px;
}
iframe {
	float: center;
	width: 480;
	height: 270;
}

</style>
</head>

{% block content %}
{% include 'navbar.html' %}
<h1>Welcome to Zhale & Zentaur designs...</h1>
<div><iframe src="https://giphy.com/embed/OBuyIUMHO6yVq" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/gay-court-sniff-OBuyIUMHO6yVq">via GIPHY</a></p></div>

<h2>Here at Zhale and Zentaur designs we strive to acheive perfection when it comes to wix, wordpress or an independant website. When I say we, I mean myself and other freelance small business owners like content writers, photographers and graphic designers. I can contract to acheive the ultimate website quicker and with these brilliant peoples skills and mastery I do the work of finding these people and vetting them so that you dont have to.</h2>
<h3 style="font-size:60px;"luminari;">Mission:

<h4 style="font-size:50px;"luminari;">To develop secure & safe wesbites at affordable prices.</h4> 



	<br><div><iframe src="https://giphy.com/embed/KEhQUMUueH3xK" width="480" height="350" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/KEhQUMUueH3xK">via GIPHY</a></p></div>

<p style="font-size:25px;"luminari;">Contact us using the form for a quote!
 
<p>You can use google to search for relative price enquiries for the job you want done</p>
<form action="http://google.com">
    <input type="submit" value="Go to Google" />
</form>
 

{% endblock %}