<!DOCTYPE html>
<head>
<style>
body {
  background-color: darkgreen;
}

h1,h2,h3,h4,p {
  color: cornsilk;
  margin-left: 100px;
  font-family:'impact';
  font-size: 2em;
}  

{
opacity: .7;
}
</style>
</head>
{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<head>
<h1>Projects I have worked on:</h1>

<h2>The London Sustainability Hub</h2>
<h3>December 2018 - March 2018</h3>
<p>For this project I created a localhost website which was due to be published on June 2018. To do this I used Windows Powershell, pip, python and Django for backend. For frontend I used CSS and HTML.</p>

<h1> Here are some of the websites that we have developed for our fantastic clients!</h1> 


{% endblock %}