

<style type="text/css" scoped>
div.GeneratedGradient {


background: -webkit-gradient(linear, left bottom, right top, color-stop(0, #ae17e8), color-stop(1, #32b1cd));
background: -webkit-linear-gradient(bottom left, #ae17e8 0%, #32b1cd 100%);
background: -moz-linear-gradient(bottom left, #ae17e8 0%, #32b1cd 100%);
background: -o-linear-gradient(bottom left, #ae17e8 0%, #32b1cd 100%);
background: -ms-linear-gradient(bottom left, #ae17e8 0%, #32b1cd 100%);
background: linear-gradient(to top right, #ae17e8 0%, #32b1cd 100%);


color:#900c3f;
width:88%;
height:5rem;
border-width:5vmin;
border-color:#778899;
border-style:double;
padding:1.5em;
font-family:'impact';
font-size:2em;
line-height:1.3em;
}
</style>
{% extends 'base.html' %}


{% block content %}
{% include 'navbar.html' %}

<div class="GeneratedGradient">Search other professionals that may be able to help your journey, whether its a workspace needed or a photographer to capture the essence of your product.....</div>
<div>
<div class="GeneratedGradient">Photographer</div>
<div class="GeneratedGradient">https://www.christopherchungphotography.com/</div>



			
				

{% endblock %}